*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(79, 190, 190);
    color: #111111;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#distribucion div{
    background-color: white;
    width: 30px;
    height: 30px;
}
#distribucion{
    display: flex;
    /* flex-direction: row; */
    gap: 0.5em;
}
button{
    padding: 0.5em;
    cursor: pointer;
}
.caja{
    background-color: white;
    padding: 1em;
    width: fit-content;
    transition: 1s;
}