@media (width < 1100px){
    #acciones{
        flex-wrap: wrap;
        justify-content: center;
    }
    #acciones .accion{
        max-width: 25%;
    }
}
@media (width < 860px){
    header{
        flex-direction: column;
    }
    #acciones .accion{
        max-width: 40%;
    }
    #txt{
        flex-direction: column;
    }
}
@media(width < 550px){
    main{
        flex-direction: column;
    }
    #acciones .accion{
        max-width: 90%;
    }
}
@media(width < 350px){
    nav{
        flex-direction: column;
        width: 80%;
    }
}