body{
    font-family: Arial;
    background:#f2f2f2;
    margin:0;
}
header{
    background:#333;
    color:white;
    padding:20px;
}
header nav a{
    color:white;
    margin-right:15px;
    text-decoration:none;
}
section{
    margin:20px;
}
.articulo{
    background:white;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ccc;
}
.articulo p{
    color:#555;
}
.resumen{
    font-style:italic;
}
.articulo a{
    color:#0077cc;
    text-decoration:none;
}
.articulo a:hover{
    text-decoration:underline;
}
footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}
.articulo h2{
    color:#222;
}
.articulo:hover{
    background:#dedede;
    cursor: pointer;
}